@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.concert{
    margin: 0px 300px;
    width: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

td{
    padding: 5px 30px 10px 0px; 

}
